/* Contact Page Style */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/contact_bg.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

.contact .content {
    padding-bottom: 100px;
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    /* padding-top: 10%; */
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info {
    padding-left: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .contact-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .contact-box .contact-icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .contact-box .contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contact-info .contact-box .contact-text h3 {
    font-size: 26px;
    font-weight: 500;
    color: rgb(151, 218, 245);
}

.contact-form {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .contact .content {
        padding-top: 20px;
        padding-bottom: 0px;
        max-width: 800px;
        text-align: center;
    }
    .container .contact-info {
        padding-left: 50px;
    }
    .container .contact-info,
    .contact-form {
        width: 100%;
    }
}